---
title: blog
autor: Junyou Simon Li
---

<html>
<head>
    <title>{{ page.author }}</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>

    <meta name='description' content='Simon Li is a 3rd year CS student at Waterloo.'>
    <!-- A decent browser will parse this fine:
         https://webmasters.stackexchange.com/questions/92744. -->
    <meta name='keywords' content='
        machine learning,
        statistical machine learning,
        bayesian inference,
        statistics,
        computational statistics,
        linear algebra,
        numerical linear algebra,
        statistical software,
        deep learning,
        computer science
    '>
    <meta name='author' content={{ page.author }}>

    <link rel='shortcut icon' href='/favicon.png?v=e' />
    <link href='/css/blog.css' rel='stylesheet'/>

    {% include mathjax.html %}
</head>
<body>
    {% include nav.html %}
    <div id='blog' class='wrap'>
        <!-- <h1>Expository Notes</h1> -->
        <div id='intro'>
            <div class='quote'>
                <p>Mathematics, rightly viewed, possesses not only truth, but supreme beauty.</p>
                <a href='https://en.wikipedia.org/wiki/Bertrand_Russell' target='_blank'>Bertrand Russell</a>
            </div>
        </div>
        <div>
            I recently have started to taking notes for some interesting papers. Here is a selection of them.
        </div>
        <!-- <div id='tags'>
            <ul id='tag-nav'>
                <li><a href='/blog/tags/all'>All</a></li>
            
                <li><a href='/blog/tags/ml'>Machine learning</a></li>

                <li><a href='/blog/tags/rl'>Reinforcement learning</a></li>
            
                <li><a href='/blog/tags/mcmc'>Markov chain Monte Carlo</a></li>

                <li><a href='/blog/tags/ms'>Motion Syntehsis</a></li>
                    
            </ul>
        </div> -->
        <div id='posts' class='section'>
            
            <div class='post-row '>
                <p class='post-title'>
                    <a href="/blog/2024/02/17/mmircl/">
                        
                        Multi-Modal Inverse Constrained Reinforcement Learning from a Mixture of Demonstrations
                        
                    </a>
                </p>
                <p class='post-date'>
                    17 Feburary 2024
                </p>
            </div>
            <p class='post-subtitle'>
                
                An algorithm for simultaneously estimating multiple constraints corresponding to different types of experts.
                
            </p>
            <span class='hidden'>1</span>
        
        </div>


        <div id='posts' class='section'>
            
            <div class='post-row '>
                <p class='post-title'>
                    <a href="/blog/2024/02/15/icrl/">
                        
                        Benchmarking constraint inference in inverse reinforcement learning
                        
                    </a>
                </p>
                <p class='post-date'>
                    15 Feburary 2024
                </p>
            </div>
            <p class='post-subtitle'>
                
                This paper constructs an ICRL benchmark in the context of RL application domains.
                
            </p>
            <span class='hidden'>2</span>
        
        </div>

        <div id='posts' class='section'>
            
            <div class='post-row '>
                <p class='post-title'>
                    <a href="/blog/2024/02/13/uarl/">
                        
                        Uncertainty-Aware Reinforcement Learning for Risk-Sensitive Player Evaluation in Sports Game
                        
                    </a>
                </p>
                <p class='post-date'>
                    13 Feburary 2024
                </p>
            </div>
            <p class='post-subtitle'>
                
                An an uncertainty-aware Reinforcement Learning (RL) framework to learn a risk-sensitive player evaluation metric from stochastic game dynamics.
                
            </p>
            <span class='hidden'>3</span>
        
        </div>
    
        <div id='posts' class='section'>
        
            <div class='post-row '>
                <p class='post-title'>
                    <a href="/blog/2024/02/13/irl_pe/">
                        
                        Inverse Reinforcement Learning for Team Sports: Valuing Actions and Players
                        
                    </a>
                </p>
                <p class='post-date'>
                    14 Feburary 2024
                </p>
            </div>
            <p class='post-subtitle'>
                
                A method that alternates single-agent IRL to learn a reward function for multiple agents.
            </p>
            <span class='hidden'>4</span>
            
        </div>

        <div id='posts' class='section'>
        
            <div class='post-row '>
                <p class='post-title'>
                    <a href="/blog/2024/02/29/kws">
                        
                        Keyword Spotting Systems
                        
                    </a>
                </p>
                <p class='post-date'>
                    29 Feburary 2024
                </p>
        
            </div>
            <p class='post-subtitle'>
                A survey of deep Keyword Spotting Systems.
            <span class='hidden'>5</span>
        </div>

        <div id='posts' class='section'>
        
            <div class='post-row '>
                <p class='post-title'>
                    <a href="/blog/2024/02/27/aac">
                        
                        Automated Audio Captioning
                        
                    </a>
                </p>
                <p class='post-date'>
                    27 Feburary 2024
                </p>
        
            </div>
            <p class='post-subtitle'>
                A survey overview of the task of audio captioning.
            <span class='hidden'>6</span>
        </div>
        <!-- <div id='more'>
            <a href='/blog/tags/all'>See all posts</a>
        </div> -->
        <!-- <div id='blog' class='wrap'>

        <div id='posts' class='section'>
            {% for post in site.posts %}
                <div class='post-row'>
                    <p class='post-title'>
                        <a href="{{ post.url }}">
                            {% katexmm %}
                            {{ post.title }}
                            {% endkatexmm %}
                        </a>
                    </p>
                    <p class='post-date'>
                        {{ post.date | date_to_long_string }}
                    </p>
                </div>
                <p class='post-subtitle'>
                    {% katexmm %}
                    {{ post.subtitle }}
                    {% endkatexmm %}
                </p>
                <span class='hidden'>{{ forloop.index }}</span>
            {% endfor %}
        </div> -->
        </div>
    </div>
</body>
</html>
